DATABASE_URL=postgresql://user:password@localhost:5432/dbname
JWT_SECRET=your-secret-key
GROQ_API_KEY=your-groq-api-key
PORT=8000
# auth - used at seeding
ADMIN_EMAIL=admin-email
ADMIN_PASSWORD=admin-password
